<!DOCTYPE html>
<html>
<head>
  <title>Consumer Disputed Bank Complaints</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">

</head>
<body>
  <header>
    <nav>
      <div class="logo">
        
      <img src="{{ url_for('static', filename='/Images/logo.png') }}">
      </div>
      <div class="items">
        <a href="#" onclick="window.location.href=window.location.pathname" class="active">Home</a>
        <a href="https://github.com/Shivam-Shane/Project">About</a>
        <a href="https://shivam-shane.github.io/My_portfolio_webiste/">Portfolio</a>
      </div>
    </nav>
  </header>
  
  <!-- Hero Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="info">
  
          <h2 class="hero-heading">Consumer Disputed
          </h2>
          <p class="hero-sub-heading">Stay ahead of consumer disputes with the cutting-edge Consumer Disputed Predictor, leveraging predictive analytics for proactive resolution.</p>
          
        <div id="slideshow">
          <img src="{{ url_for('static', filename='/Images/1.jpg') }}" alt="Photo 1">
          <img src="{{ url_for('static', filename='/Images/2.jpg') }}" alt="Photo 2">
       </div>
      </div>
    </div>
    <div id="link-redirection">
      <p>Want to predict if Consumer will dispute or not ?</p>
    </div>
    <div id="predict-now-container">
      <a href="{{ url_for('predict_datapoint') }}" id="predict-now-link"><button id="predict-now">Predict now</button></a>
    </div>
  </section>
  <script>
    var slideshow = document.getElementById("slideshow");
    var images = slideshow.getElementsByTagName("img");
    var currentIndex = 0;

    function showImage(index) {
      for (var i = 0; i < images.length; i++) {
        images[i].style.display = "none";
      }
      images[index].style.display = "block";
    }

    function nextImage() {
      currentIndex++;
      if (currentIndex >= images.length) {
        currentIndex = 0;
      }
      showImage(currentIndex);
    }

    showImage(currentIndex);
    setInterval(nextImage, 3000);
  </script>
  </body>
  </html>
